@import "../../variables.scss";

// Footer
footer {
  padding-top: 80px;

  &.border-top {
    @media (min-width: 992px) {
      border-top: 1px solid #eeeef5;
    }
  }

  @media #{$mobile} {
    padding-top: 50px;
  }

  .footer-col {
    @media #{$tablet} {
      margin-bottom: 40px;
    }

    @media #{$mobile} {
      &:not(.last) {
        margin-bottom: 40px;
      }
    }

    @media (min-width: 992px) {
      width: fit-content;
      margin: auto;
    }

    h5 {
      margin-bottom: 40px;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      min-height: 40px;
      display: flex;
      align-items: center;

      @media #{$tablet} {
        margin-bottom: 20px;
      }

      @media #{$mobile} {
        margin-bottom: 10px;
        font-size: 15px;
      }

      & ~ p {
        font-size: 20px;

        @media (min-width: 768px) and (max-width: 1200px) {
          font-size: 18px;
        }

        @media #{$mobile} {
          font-size: 15px;
        }
      }
    }

    ul {
      li {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 18px;

        @media #{$mobile} {
          font-size: 15px;
          margin-bottom: 12px;
        }

        a {
          display: block;
          color: #474c4d;
          transition: all 0.2s ease-in-out;

          &:hover {
            text-decoration: underline;
            color: #2c2ffe;
          }

          &.app-btn {
            &:hover {
              opacity: 0.75;
            }
          }

          img {
            display: block;
          }
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #eeeef5;
    padding: 33px 0;
    margin-top: 55px;

    @media #{$tablet} {
      margin-top: 0;
    }

    @media #{$mobile} {
      padding: 20px 0;
      margin-top: 20px;
    }

    .copyright {
      font-weight: 600;
      font-size: 18px;

      @media #{$mobile} {
        font-size: 15px;
      }
    }

    .social-icons-parent {
      @media #{$mobile} {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #eeeef5;
        justify-content: space-between;
      }

      @media (min-width: 768px) {
        justify-content: flex-end;
      }
    }

    #lang-dropdown2 {
      margin-left: 16px;
    }

    .social-icons {
      justify-content: flex-end;

      > li {
        position: relative;

        &:not(:last-of-type) {
          margin-right: 15px;

          @media #{$mobile} {
            margin-right: 8px;
          }
        }

        > a {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background: #dfe0ff;
          display: flex;
          transition: 0.2s ease-in-out;

          &:hover {
            background: #d3d4fb;
          }

          svg {
            margin: auto;
          }
        }
      }
    }
  }
}

body.rtl {
  footer .footer-bottom #lang-dropdown2 {
    margin-left: 0;
    margin-right: 16px;
  }
  footer .footer-bottom .social-icons > li:not(:last-of-type) {
    margin-right: 0;
    margin-left: 15px;
  }
  footer .footer-bottom .copyright {
    @media #{$tablet} {
      font-size: 15px;
    }
  }
}
