$primaryColor:  #2C2FFE;;
$linkHoverColor: #e33866;
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$maxTab: "(max-width: 991px)";
$betweentabdesk: "(min-width: 992px) and (max-width: 1200px)";
$ani-speed: 2s;
$ani-delay: 1s;